/* General Body of Page */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

}
 
 /* wrapper */
.wrapper {
  margin: 0;
  padding: 0;
  border: 0;
}


/* Top Header Bar */

#top-bar {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 46px;
  background-color: white;
  padding-left: 50%;
  padding-right: 50%;
  margin-top: -5px;
  border-bottom: solid 2px darkgray;
}

#top-bar img {
  width: 3%;
}

#top-bar2 {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 51px;
  background-color: white;
  padding-left: 50%;
  padding-right: 50%;
  margin-top: -5px;
  border-bottom: solid 2px darkgray;
}

#top-bar2 img {
  width: 3%;
  padding-top: 5px;
}

/* Body of Page  */

.page-body {
  position: relative;
  top: 46px;
  padding: 15px;
  margin: 5px;
  font-family: 'Merriweather', serif;
  line-height: 25.88px;

}
.page-body h1 {
  line-height: 58.25px;
}

.page-body h2 {
  line-height: 38.83px;
}

.page-body h3 {
  line-height: 33.98px;
}

/* For About Page*/
}
.aboutwrapper{
  width:250px;  
}
.aboutwrapper img{ 
  float:left;
  padding:15px;
}

.map{
  float:right;
}
.aboutParagraph{
  margin-top: -20px;
}


/* Growing Links */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.13);
  transform: scale(1.13);
}
/*Calendar Page*/
.calendar {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.calendar h1 {
  text-align: center;
}
.calendar-dates {
  max-width: 49%;
  float: left;
  font-family: 'Merriweather', serif;

}

.calendar-dates li {
  list-style: none;
}

/*Slideshow*/
#mainImage {
  max-width: 600px;
  margin: .5rem auto .5rem auto;
  float: left;
  padding: 25px;
}
.calendar-images {
  max-width: 600px;
}

.css-slideshow{
  
  margin: .5rem auto .5rem auto;
  float: left;
  padding-left: 25px;
}
.css-slideshow figure{
  margin: 0;
  background: #000;
  position: absolute;
}
.css-slideshow img{
  box-shadow: 0 0 2px #666;
}

.css-slideshow figure{
    opacity:0;
}
figure:nth-child(1) {
    animation: xfade 48s 42s infinite;
}
figure:nth-child(2) {
    animation: xfade 48s 36s infinite;
}
figure:nth-child(3) {
    animation: xfade 48s 30s infinite;
}
figure:nth-child(4) {
    animation: xfade 48s 24s infinite;
}
figure:nth-child(5) {
   animation: xfade 48s 18s infinite;
}
figure:nth-child(6) {
   animation: xfade 48s 12s infinite;
}
figure:nth-child(7) {
   animation: xfade 48s 6s infinite;
}
figure:nth-child(8) {
   animation: xfade 48s 0s infinite;
}


@keyframes xfade{
    0%{
  opacity: 1;
 }
    10.5% {
  opacity: 1;
 }
    12.5%{
  opacity: 0;
 }
    98% {
  opacity: 0;
 }
    100% {
  opacity: 1;
  }
}

.aboutParagraph
{
  margin-top: -20px;
}


/* Bottom Footer Bar  */

.footer-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: white;
  padding-left: 35%;
  padding-right: 35%;
  border-top: solid 2px darkgray;
}

.footer-bar img {
  width: 2%;
  margin: 0% 4%; 
  padding-top: 3px;
}



/* John's CSS */

/*Main Page Effects*/

  .big-box {
    margin-left: -25%;
    width: 150%;
    height: 100%;
    display: flex;
    font-family: HelveticaNeue;
    font-size: 18px;
    color: #fff;
    flex-direction: row;
    overflow: hidden;

  }
  .child {
    position: relative;
    top: -15%;
    height: 200%;
    flex-grow: 1;
    transform: rotate(18deg);
  }
  #pic1 {
    background-image: url(../img/img7.jpg);
    background-repeat: no-repeat;
  }
  #pic2 {
    background-image: url(../img/img4.jpg);
    background-repeat: no-repeat;
    background-color: #030303;
  }
  #pic3 {
    background-image: url(../img/img7.jpg);
    background-repeat: no-repeat;
    background-color: #170B01;
  }
  #pic4 {
    background-image: url(../img/img9.jpg);
    background-repeat: no-repeat;
    background-color: #DDAC35;
  }
  #pic5 {
    background-image: url(../img/img10.jpg);
    background-repeat: no-repeat;
  }
#pic6 {
    background-image: url(../img/img9.jpg);
    background-repeat: no-repeat;
    background-color: #030303;
  }
.child:hover {
    flex-grow: 1.6;
    top: -13.8%;
  }

  
  /*Oval Logo*/
  .oval-pic {
    width: 17%;
    position: fixed;
    left: 41.5%;
    top: 0.3%;
    z-index: 99;
    opacity: 0.8;
  }

  .child {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.child {
  filter: contrast(100%);
  -webkit-filter: contrast(100%);
  -moz-filter: contrast(100%);
  -o-filter: contrast(100%);
  -ms-filter: contrast(100%);
}

.child:hover {
  filter: contrast(250%);
  -webkit-filter: contrast(250%);
  -moz-filter: contrast(250%);
  -o-filter: contrast(250%);
  -ms-filter: contrast(250%);
}


/*Main Page Links*/

.child a {
  font-family: 'Merriweather', serif;
  font-size: 1.4em;
  text-decoration: none;
  /*left: 100px;*/
  transform: rotate(-18deg);
  /*padding-left: 50px;*/
}

.about-link a:visited {
  color: #3096A3;
}
.calendar-link a:visited {
  color: #FDA936;
}

.child a:hover {
  text-decoration: underline;
  font-size: 1.5em;
}

.calendar-link {
  position: absolute;
  bottom: 800px;
  left: 65px;
  color: #FDA936;
}

.about-link {
  position: absolute;
  bottom: 815px;
  left: 175px;
  color: #3096A3;

}

