/* General Body of Page */

html body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
 
 /* wrapper */
.wrapper {
	margin: 0;
	padding: 0;
	border: 0;
}


/* Top Header Bar */

#top-bar {
	position: fixed;
	width: 100%;
	height: 45px;
	background-color: white;
	padding-left: 50%;
	padding-right: 50%;
	border-bottom: solid 2px darkgray;
}

#top-bar img {
	width: 3%;
	/*margin-top: -13px; */
}

/* Body of Page  */

.page-body {
	position: relative;
	top: 46px;
	border: solid 3px red;
}


/* Growing Links */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.13);
  transform: scale(1.13);
}
/*Calendar Page*/
.calendar {
	width: 80%;
	margin: 0 auto;
	position: relative;
	top: 90px;
}
.calendar h1 {
	text-align: center;
}
.calendar-dates {
	max-width: 49%;
	float: left;
	margin: 0 auto;
}
.calendar-dates li {
	list-style: none;
}
.calendar-image img {
	max-width: 49%;
	float: right;
}
/*Slideshow*/
.css-slideshow{
  position: relative;
  max-width: 495px;
  margin: 5em auto .5em auto;
}
.css-slideshow figure{
  margin: 0;
  max-width: 495px;
  height: 370px;
  background: #000;
  position: absolute;
}
.css-slideshow img{
  box-shadow: 0 0 2px #666;
}

.css-slideshow:hover figure{
  transition: opacity .5s;
  opacity: 1;
}
.css-slideshow-attr{
  max-width: 495px;
  text-align: right;
  font-size: .7em;
  font-style: italic;
  margin:0 auto;
}
.css-slideshow-attr a{
  color: #666;
}
.css-slideshow figure{
  opacity:0;
}
figure:nth-child(1) {
  animation: xfade 24s 18s infinite;
}
figure:nth-child(2) {
  animation: xfade 24s 12s infinite;
}
figure:nth-child(3) {
  animation: xfade 24s 6s infinite;
}
figure:nth-child(4) {
  animation: xfade 24s 0s infinite;
}


@keyframes xfade{
  0%{
    opacity: 1;
  }
  10.5% {
    opacity: 1;
  }
  12.5%{
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Bottom Footer Bar  */

.footer-bar {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: white;
	padding-left: 35%;
	padding-right: 35%;
	border-top: solid 2px darkgray;
}

.footer-bar img {
	width: 2%;
	margin: 0% 4%; 
	padding-top: 3px;
}